{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}


    <div class="content" style = 'padding:10px'>
      <div class="content_top">
        <div class="row">
           <div class="col-12">
             <div class="content_top-slider">
               <div class="slider-text">
                 <h1>
                  Увеличили CTR на 235% <br />за 14 дней
                 </h1>
                 <p>
                  Комплексный аудит вашего сайта легкий способ повысить позиции
                 </p>
               </div>
               <div class="slider-text">
                   <h1>
                  Увеличили CTR на 235% <br />за 14 дней
                 </h1>
                 <p>
                  Комплексный аудит вашего сайта легкий способ повысить позиции
                 </p>
               </div>
               <div class="slider-text">
                   <h1>
                  Увеличили CTR на 235% <br />за 14 дней
                 </h1>
                 <p>
                  Комплексный аудит вашего сайта легкий способ повысить позиции
                 </p>
               </div>
             </div>
           </div>
        </div> <!-- class="row" -->
      </div> <!-- class="content_top" -->

     <div class="content_form">
        <h2>Заказть</h2>
   <form action="" name="name_form" enctype="multipart/form-data" onsubmit = "return false;" method="POST">

  <div class="form-group forms">

    <input type="text" name="name" required class="form-control" id="exampleInputEmail1" placeholder="Имя" />
    <input type="tel" name="phone" required class="form-control" id="exampleInputEmail1" placeholder="Телефон">
    <input type="email" name="email" required class="form-control" id="exampleInputEmail1" placeholder="E-mail">

    <input class="btn btn-info fix-btn" type="button" onclick="ajax_transport_to_server()" value="Отправить">
  </div>

    <div id="result"></div>
     </form>
   </div><!-- class="content_form" -->
</div><!-- class="content" -->

{% endblock %}
